<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUVEB</title>
  <link rel="stylesheet" href="asesorias.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html">¿Quiénes Somos?</a></li>
        <li><a href="condicion.html">Condición de Excepción</a></li>
        <li><a href="lideres.html">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html" class="active">Asesorías</a></li>
        <li><a href="escuelas.html">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="titulo">
      <h1>¿Que son las asesorias?</h1>
    </div>
    <div class="parrafo">
      <p>Son un espacio de ayuda o guía en relación con tema en especifico: si tienes alguna dificultad en relación con proyectos (programas del gobierno) que estén dirigidos a comunidades afro, temas en específicos de tu carrera o para ingresar a la Universidad,  CADHUBEV puede asesorarte. </p>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
</body>
</html>
