<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUBEV</title>
  <link rel="stylesheet" href="cadhuveb.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html" class="active">¿Quiénes Somos?</a></li>
        <li><a href="condicion.html">Condición de Excepción</a></li>
        <li><a href="lideres.html">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html">Asesorías</a></li>
        <li><a href="escuelas.html">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <div class="columna01">

    </div>
    <div class="columna1">
      <div class="columna-texto">
        <h1>¿Quiénes somos?</h1>
        <p>Este es un colectivo estudiantil, cuyas siglas significan Colectivo afro pro derechos humanos Benkos vive. Esta organización nació en 2001 en la Universidad del Valle, con el propósito de facilitar el ingreso de las comunidades afrocolombianas a la educación superior. CADHUBEV fortaleció su actividad a partir de la aprobación de los cupos de condición de excepción para el ingreso de las comunidades afro a la Universidad del Valle, bajo la resolución del Consejo Académico No. 097 de 2003. A partir de esta directriz, más de cinco mil estudiantes pertenecientes a las comunidades afro ingresaron a la universidad.</p> 
        <p>Entre sus logros, en el año 2010, CADHUBEV promovió la gratuidad en la matrícula para quienes ingresaban a la universidad a través de esta condición de excepción y en el 2018 impulsó que se duplicaran dichos cupos, pasando del 4% al 8%, los cuales quedaron repartidos de forma equitativa entre las organizaciones de base y los consejos comunitarios rurales afro.

          CADHUBEV, está adscrita al Ministerio del Interior como organización de base comunitaria afrocolombiana, por lo tanto, puede otorgar a estudiantes el aval para ingresar por condición de excepción para comunidades afro a la educación superior.</p>
      </div>
    </div>
    <div class="columna2">
      <div class="imagenes">
        <div class="imagen1">
          <img src="image (3).png">
        </div>
        <div class="imagen2">
          <img src="lo.jpg">
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
</body>
</html>
