<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUBEV</title>
  <link rel="stylesheet" href="condicion.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html">¿Quiénes Somos?</a></li>
        <li><a href="condicion.html" class="active">Condición de Excepción</a></li>
        <li><a href="lideres.html">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html">Asesorías</a></li>
        <li><a href="escuelas.html">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>

    <div class="container">
        <div class="titulo">
          <h1>Condición de excepción para entrar en la educación superior</h1>
        </div>
        <div class="columnas">
          <div class="columna1">
            <div class="fila1">
              <img src="iman.png" alt="Imagen 1">
            </div>
            <div class="fila2">
              <p>Para entrar a estudiar a la Universidad del Valle por condición de excepción CADHUBEV esta autorizado para brindar un aval que justifique tu ingreso a la Universidad. Siendo así, para poder obtener este Aval debes ser parte de las clases de empoderamiento, pues la intención es dar a conocer y concientizar a los jóvenes sobre la historia de luchas interminables por parte de las comunidades negras, y gracias a esas luchas  hoy tenemos lo que es la condición de excepción para la educación superior, este sin duda es un gran logro para todos y todas las personas afros, negras, raizales o palenqueras.</p>
            </div>
          </div>
          <div class="columna2">
            <p>Nace de una acción afirmativa con el fin de mitigar la brecha de desigualdad que se observa en la educación dirigida a las comunidades afro,  pues, no es precisamente una educación de calidad que prepare a los jóvenes para entrar a la Universidad o para presentar el ICFES, 



                Por lo tanto esta acción permite que los jóvenes pertenecientes a comunidades étnicas puedan ser parte de la educación superior por medio de cupos adicionales o estipulados en la carrera que otorga la Universidad. La condición de excepción no es solamente para jóvenes afros, las comunidades indígenas también hacen uso de ellas. 
                
                
                
                Al entrar por condición de excepción no se compite con todas las personas que se postulan, sino que solamente con las personas que se postulan por la condición de excepción, es decir, si desea entrar a una carrera, no competirá con todos las personas que se inscriben sino solamente con los jóvenes que entran por condición de excepción. </p>
          </div>
        </div>
      </div>

  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
</body>
</html>
