<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUBEV</title>
  <link rel="stylesheet" href="escuelas.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html">¿Quiénes Somos?</a></li>
        <li><a href="condicion.html">Condición de Excepción</a></li>
        <li><a href="lideres.html">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html">Asesorías</a></li>
        <li><a href="escuelas.html" class="active">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="titulo">
      <h1>Escuelas de empoderamiento</h1>
    </div>

    <div class="video">
      <iframe src="356016055_592501026300842_5616650901141651893_n.mp4" pause preload="auto"></iframe>
    </div>

    <div class="parrafo">
      <p>Y por qué no pensar en un espacio en donde nos podamos sentir acogidos, abrazados, entendidos y escuchados. Eso es la escuela de empoderamiento de CADHUBEV, un espacio en el que puedes hablar libremente, pero también escuchar. 

        Preservar la memoria a través del dialogo y otras herramientas es lo que brindan estos espacios, y asistir a ellos es importante. 
        
        La escuela brinda dos procesos importantes: Cirulo I y Circulo II</p>
    </div>

    <div class="columnas">
      <div class="columna1">
        <h2 class="titulos">Circulo I</h2>
        <p>Es el primer escalón en el trayecto a la educación superior, pues, haces parte de este circulo una vez decides ingresar a la Universidad del Valle. Es lo básico que debes hacer para poder obtener el aval para la condición de excepción. En este circulo, podrás enterarte de distintos temas que van en relacion con las comunidades afros.</p>
      </div>
      <div class="columna2">
        <h2 class="titulos">Circulo II</h2>
        <p>Una vez ingreses a la Universidad o hallas terminado circulo I,  el circulo II te espera, este es un proceso que esta orientado al conocimiento a profundidad de todo lo relacionado con las comunidades negras en Colombia, Se tocan temas tales como: Racismo, Neopolítica, Biopolítica, Ley 70 y diferentes problemáticas en la cual se ven envueltas las  comunidades afro del país . </p>
      </div>
    </div>

    <div class="imagenes">
      <img src="ima.png" alt="Imagen 1">
      <img src="iman.png" alt="Imagen 2">
    </div>

    <div> 
      <img src="mi.png" alt="Imagen 3">
    </div>

    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </div>


  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
</body>
</html>
