<!DOCTYPE html>
<html>
<head>
  <title>CADHUBEV</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="header-container">
      <h1>
        <span class="green-text">CADHUBEV</span><br>
        <span class="yellow-text">BENKOS</span>
        <span class="red-text">VIVE</span>
      </h1>
      <div class="logo">
        <img src="logo.jpg" alt="Logo">
      </div>
    </div>
  </header>
  
  <section class="subtitle">
    <img class="lineas" src="lineas.png">
    <h2>¡Somos lo que hacemos!</h2>
    <img class="lineas" src="lineasi.png">
  </section>
  
  <section class="main-content">
    <div class="buttons-container">
      <div class="buttons-column">
        <a href="cadhuveb.html">¿Quiénes Somos?</a>
        <a href="asesorias.html">ASESORIAS</a>
        <a href="noticias.html">PORTAL DE NOTICIAS</a>
      </div>
      <div class="buttons-column">
        <a href="condicion.html">CONDICIÓN DE EXCEPCIÓN</a>
        <a href="escuelas.html">ESCUELAS DE EMPODERAMIENTO</a>
        <a href="lideres.html">LÍDERES DE CADHUBEV</a>
      </div>
    </div>

    <div class="exposicion">
      <div class="noticia">
        <img src="noticia1.jpeg" alt="Noticia 1">
        <h3>Noticia 1</h3>
        <p>500 gestores de paz afrodescendientes de San Onofre, Sucre, que se graduaron</p>
        <a href="https://www.eltiempo.com/justicia/servicios/gestores-de-paz-500-nuevos-graduados-en-san-onofre-sucre-772469" target="_blank">Leer más</a>
      </div>
      <div class="noticia">
        <img src="noticia2.jpeg" alt="Noticia 2">
        <h3>Noticia 2</h3>
        <p>La JEP concluyó primeros diálogos con autoridades indígenas y afros en el Chocó</p>
        <a href="https://www.eltiempo.com/justicia/jep-colombia/jep-concluyo-primeros-dialogos-con-autoridades-indigenas-y-afro-en-choco-779604" target="_blank">Leer más</a>
      </div>
      <div class="noticia">
        <img src="noticia3.jpeg" alt="Noticia 3">
        <h3>Noticia 3</h3>
        <p>Invasión de fincas en Cauca: "Estamos ante un conflicto interétnico", Minagricultura</p>
        <a href="https://www.eltiempo.com/colombia/otras-ciudades/invasiones-en-cauca-aun-no-inician-mesas-de-dialogo-778114" target="_blank">Leer más</a>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
  <script src="/__/firebase/9.0.0/firebase-app.js"></script>
  <script src="/__/firebase/9.0.0/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="controller.js"></script>
</body>
</html>
