<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUBEV</title>
  <link rel="stylesheet" href="lideres.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html">¿Quiénes Somos?</a></li>
        <li><a href="condicion.html">Condición de Excepción</a></li>
        <li><a href="lideres.html" class="active">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html">Asesorías</a></li>
        <li><a href="escuelas.html">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="titulo">
      <h1>Lideres CADHUVEB</h1>
    </div>  

    <div class="parrafo">
        <p>CADHUBEV fue un deseo que surgió en el corazón de 3 jóvenes Afro, los cuales observaron que dentro de la Universidad del Valle no se encontraban muchas personas negras, por tal razón decidieron crear un grupo que poco a poco se convirtió en un colectivo (CADHUBEV).



            Ellos a través de muchos esfuerzos no solo lograron convertirse en una organización, sino en una familia, en la que los conocimientos de los mayores son transmitidos a los nuevos que van añadiéndose, es así que se estima aproximadamente entre 60 y 100 lideres desde su fundación en 2001 hasta la actualidad (2023).
            
            
            
            Cada persona tienen sus propios procesos, por lo tanto para cada una de las personas del colectivo CADHUBEV significa algo diferente, y de una u otra forma han sido permeados de todo y por lo todo.
            

            
            A continuación, se exponen algunas de las voces de los lideres sobre que es CADHUBEV para ellos</p>
    </div>
  </div>



  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column">
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>
</body>
</html>
