body {
    font-family: 'Swap', cursive;
    margin: 0;
    padding: 0;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: #4d4d4d;
    padding: 10px;
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    position: relative;
  }
  
  .navbar li a.active {
    border-bottom: 2px solid #ffffff;
  }
  
  .navbar li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar li a:hover::after {
    transform: scaleX(1);
  }
  
  .navbar li a.active {
    border-bottom: 2px solid #ffffff;
  }

  .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .exposicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .noticia {
    width: calc(33.33% - 50px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .noticia img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .noticia h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .noticia p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .noticia a {
    display: inline-block;
    font-size: 14px;
    color: blue;
  }
  
  .noticia a:hover {
    text-decoration: underline;
  }


  footer {
    background-color: #4d4d4d;
    padding: 20px;
    color: #ffffff;
    position: absolute;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo-column {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .logo-column img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  .info-column {
    flex: 1 1 auto;
    margin: 0 -10px;
  }
  
  .company-name,
  .university-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .social-icons img:last-child {
    margin-right: 0;
  }
  