<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADHUBEV</title>
  <link rel="stylesheet" href="noticias.css">
  <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
  <link rel="icon" href="image (5).png">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="cadhuveb.html" >¿Quiénes Somos?</a></li>
        <li><a href="condicion.html">Condición de Excepción</a></li>
        <li><a href="lideres.html">Líderes de CADHUBEV</a></li>
        <li><a href="asesorias.html">Asesorías</a></li>
        <li><a href="escuelas.html">Escuelas de Empoderamiento</a></li>
        <li><a href="noticias.html" class="active">Portal de Noticias</a></li>
      </ul>
    </nav>
  </header>

  <section class="subtitle">
    <img class = "lineas" src="lineas.png">
    <h2>¡Somos lo que hacemos!</h2>
    <img class = "lineas" src="lineasi.png">
  </section>


  <div class="exposicion">
    <div class="noticia">
      <img src="noticia1.jpeg" alt="Noticia 1">
      <h3>Noticia 1</h3>
      <p>500 gestores de paz afrodescendientes de San Onofre, Sucre, que se graduaron</p>
      <a href="https://www.eltiempo.com/justicia/servicios/gestores-de-paz-500-nuevos-graduados-en-san-onofre-sucre-772469" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia2.jpeg" alt="Noticia 2">
      <h3>Noticia 2</h3>
      <p>La JEP concluyó primeros diálogos con autoridades indígenas y afros en el chocó</p>
      <a href="https://www.eltiempo.com/justicia/jep-colombia/jep-concluyo-primeros-dialogos-con-autoridades-indigenas-y-afro-en-choco-779604" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia3.jpeg" alt="Noticia 3">
      <h3>Noticia 3</h3>
      <p>Invasión de fincas en Cauca: "Estamos ante un conflicto inter étnico", Minagricultura</p>
      <a href="https://www.eltiempo.com/colombia/otras-ciudades/invasiones-en-cauca-aun-no-inician-mesas-de-dialogo-778114" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia4.jpeg" alt="Noticia 4">
      <h3>Noticia 4</h3>
      <p>La historia del unico presidente negro que ha tenido Colombia</p>
      <a href="https://www.eltiempo.com/colombia/la-historia-del-unico-presidente-negro-que-ha-tenido-colombia-749706" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia5.jpg" alt="Noticia 5">
      <h3>Noticia 5</h3>
      <p>¿Cómo se siente ser afro en  un país como Colombia?</p>
      <a href="https://www.canva.com/link?target=https%3A%2F%2Fwww.elespectador.com%2Fpolitica%2Fcomo-se-siente-ser-afro-en-un-pais-como-colombia%2F&design=DAFnTgM1HxQ&accessRole=viewer&linkSource=document" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia6.png" alt="Noticia 6">
      <h3>Noticia 6</h3>
      <p>Hablar de emprendimiento afro es hablar de oportunidades de negocio</p>
      <a href="https://elpais.com/america-futura/2023-05-11/hablemos-de-los-desafios-de-la-poblacion-afro-que-emprende.html" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia7.jpg" alt="Noticia 7">
      <h3>Noticia 7</h3>
      <p>Ignorar que existe el racismo nos cuesta dinero</p>
      <a href="https://elpais.com/america-futura/2023-02-20/ignorar-que-existe-el-racismo-nos-cuesta-dinero.html" target="_blank">Leer más</a>
    </div>
    <div class="noticia">
      <img src="noticia8.jpg" alt="Noticia 8">
      <h3>Noticia 8</h3>
      <p>Más inclusión para las poblaciones étnicas latinoamericanas</p>
      <a href="https://www.canva.com/link?target=https%3A%2F%2Felpais.com%2Famerica-futura%2F2023-01-24%2Fmas-inclusion-para-las-poblaciones-etnicas-latinoamericanas.html&design=DAFnTgM1HxQ&accessRole=viewer&linkSource=document" target="_blank">Leer más</a>
    </div>
    
    <!-- Agrega más noticias aquí -->
  </div>

  

  <footer>
    <div class="footer-container">
      <div class="logo-column">
        <img src="logo.jpg" alt="Logo">
      </div>
      <div class="info-column">
        <p class="company-name">CADHUVEB</p>
        <p>Santiago de Cali</p>
        <p>2001-2023</p>
      </div>
      <div class="info-column"> 
        <p class="university-name">Universidad del Valle Sede Meléndez</p>
        <p>Oficina 1015 (Plazoleta de Ingeniería)</p>
      </div>
      <div class="info-column">
        <p>¡Síguenos!</p>
        <div class="social-icons">
          <a href="https://instagram.com/cadhubevbkv?igshid=Y2IzZGU1MTFhOQ=="><img src="instagram.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/Cadhubev?mibextid=ZbWKwL"><img src="facebo.png" alt="Facebook"></a>
        </div>
        <p>Teléfono: 3145853968</p>
      </div>
    </div>
  </footer>

  <script src="controller.js"></script>
</body>
</html>
