body {
  font-family: 'Swap', cursive;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #cccccc;
  text-align: center;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-left: 40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px;
}

.green-text {
  color: green;
}

.yellow-text {
  color: yellow;
}

.red-text {
  color: red;
}

.subtitle {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.main-content {
  background-color: #e6f0ff;
  text-align: center;
  padding-bottom: 20px; /* Añadido espacio inferior para evitar superposiciones */
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-image: url("image\ \(4\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons-column {
  flex: 1 0 200px;
  max-width: 100%; /* Ajusta el ancho máximo de las columnas */
  margin: 10px; /* Añade margen alrededor de las columnas */
}

.buttons-column a {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  opacity: 90%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  width: 100%; /* Ajusta el ancho de los botones al 100% */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-column a:hover {
  width: 100%;
  transition: 1s;
  overflow: visible;
  text-overflow: clip;
}

.buttons-container:nth-child(odd) .buttons-column a {
  margin-right: 0;
}

.buttons-container:nth-child(even) .buttons-column a {
  margin-left: 0;
}

.exposicion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.noticia {
  flex: 1 0 calc(33.33% - 40px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.noticia img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.noticia h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.noticia p {
  font-size: 14px;
  margin-bottom: 10px;
}

.noticia a {
  display: inline-block;
  font-size: 14px;
  color: blue;
}

.noticia a:hover {
  text-decoration: underline;
}


footer {
  background-color: #cccccc;
  padding: 20px;
  color: #ffffff;
  position: sticky;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Ajusta el ancho máximo del contenedor */
  width: 100%;
}

.logo-column {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo-column img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.info-column {
  margin: 0 10px;
}

.company-name,
.university-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.social-icons img:last-child {
  margin-right: 0;
}
